<main class="mainEnxoval">
            <div class="lista">
                <div class="container_menu_enxoval">
                    <div class="btn_menu_enxoval">
                        <p>Opções</p>
                        <div class="btn_menu_enxoval_down">
                            <img class="img_down" src="../icons/seta_down.png">
                        </div>
                    </div>
                    <div class="topicos_container">
                        <h1 class="topicos btn_cozinha up_itens">Cozinha <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_quarto up_itens">Quarto <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_banheiro up_itens">Banheiro <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_lavanderia up_itens">Lavanderia <div class="linha"></div>
                        </h1>
                        <h1 class="topicos btn_sala up_itens">Sala <div class="linha"></div>
                        </h1>
                    </div>
                </div>
<!--COZINHA-->
                <ul id="cozinha" class="cozinha section">
                    <div class="headerListas">
                        <h1 class="titlulo_lista">Cozinha</h1>
                        <a href="/cad/enxoval/cozinha"><img class="icon_add" src="/icons/icone_add.png" alt=""></a>
                    </div>
                    {{#each itensCozinha}}
                        <div class="linha_item">
                            <li class="itens">{{this.item}}</li>
                            <a href="/edit/enxoval/cozinha/{{this.id}}" class="icon_edit"><img src="/icons/icone_edit.png"></a>
                        </div>
                    {{/each}}
                </ul>
<!--QUARTO-->
                <ul id="quarto" class="quarto section">
                    <div class="headerListas">
                        <h1 class="titlulo_lista">Quarto</h1>
                        <a href="/cad/enxoval/quarto"><img class="icon_add" src="/icons/icone_add.png" alt=""></a>
                    </div>
                    {{#each itensQuarto}}
                    <div class="linha_item">
                        <li class="itens">{{this.item}}</li>
                        <a href="/edit/enxoval/quarto/{{this.id}}" class="icon_edit"><img src="/icons/icone_edit.png"></a>
                    </div>
                    {{/each}}
                </ul>
<!--BANHEIRO-->
                <ul id="banheiro" class="banheiro section">
                    <div class="headerListas">
                        <h1 class="titlulo_lista">Banheiro</h1>
                        <a href="/cad/enxoval/banheiro"><img class="icon_add" src="/icons/icone_add.png" ></a>
                    </div>
                    {{#each itensBanheiro}}
                        <div class="linha_item">
                            <li class="itens">{{this.item}}</li>
                            <a href="/edit/enxoval/banheiro/{{this.id}}" class="icon_edit"><img src="/icons/icone_edit.png" alt=""></a>
                        </div>
                    {{/each}}

                    
                    
                </ul>
<!--LAVANDERIA-->
                <ul id="lavanderia" class="lavanderia section">
                    <div class="headerListas">
                        <h1 class="titlulo_lista">Lavanderia</h1>
                        <a href="/cad/enxoval/lavanderia"><img class="icon_add" src="/icons/icone_add.png" ></a>
                    </div>
                    {{#each itensLavanderia}}
                        <div class="linha_item">
                            <li class="itens">{{this.item}}</li>
                            <a href="/edit/enxoval/lavanderia/{{this.id}}" class="icon_edit"><img src="/icons/icone_edit.png" alt=""></a>
                        </div>
                    {{/each}}
                </ul>
<!--SALA-->
                <ul id="sala" class="sala section">
                    <div class="headerListas">
                        <h1 class="titlulo_lista">Sala</h1>
                        <a href="/cad/enxoval/sala"><img class="icon_add" src="/icons/icone_add.png" ></a>
                    </div>
                    {{#each itensSala}}
                        <div class="linha_item">
                            <li class="itens">{{this.item}}</li>
                            <a href="/edit/enxoval/sala/{{this.id}}" class="icon_edit"><img src="/icons/icone_edit.png" alt=""></a>
                        </div>
                    {{/each}}
                </ul>
            </div>
        </main>